<div class="container-fluid contact-me">
  <div class="col-12 social-media text-center">
    <%= image_tag 'wink.gif'%>
    <h2 class='title'>
      Let's Connect
    </h2>
    <h6 class='subtitle'>
      Send me an email or give me a call!
    </h6>
    <p class='contact-info'>
      (664) 375-1897 | chavezmmari@gmail.com
    </p>
  </div>
</div>
